.outercontainer{
  width: 70%;
  margin:auto;
  background-color: aquamarine;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html,body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.input-div input{
  height: 2rem;
  width: 20rem;
  border-radius: 3px;

}
.input-div span button{
  height: 2rem;
  width: 8rem;
  background-color: slateblue;
  color: white;
  margin-left: 2rem;
  border-radius: 1rem;
}

.app-container{
  width: 100%;
  height: 100vh;
  background-color: orange;
}